go 1.26.0

use (
	./accountaccesscontrol
	./accountaccesscontrolproxy
	./auth
	./billableusagedownload
	./core
	./databricks
	./dataquality
	./environments
	./examples
	./features
	./featurestore
	./iam
	./materializedfeatures
	./notificationdestinations
	./postgres
	./qualitymonitor
	./rfa
	./sdk
	./settings
	./statementexecution
	./tagassignments
	./tagpolicies
)
