go 1.26.0

use (
	./auth
	./core
	./databricks
	./dataclassification
	./dataquality
	./examples
	./features
	./featurestore
	./iam
	./materializedfeatures
	./oauthcustomappintegration
	./oauthpublishedapp
	./permissionmigration
	./permissions
	./postgres
	./qualitymonitor
	./qualitymonitors
	./sdk
	./serviceprincipalsecrets
	./serviceprincipalsecretsproxy
	./settings
	./statementexecution
	./workspaceconf
)
